<!DOCTYPE html>
<html>
<head>
  <title>Extracted Text</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Lesson Plan</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Subject</th>
      <th>{{ extracted_text['subject'] }}</th>
    </tr>
    <tr>
      <th>Duration</th>
      <th>{{ extracted_text['dura'] }}</th>
    </tr>
    <tr>
      <th>Teachers Name</th>
      <th>{{ extracted_text['tname'] }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Learning Objectives</th>
      <th>{{ extracted_text['learn'] }}</th>
    </tr>
    <tr>
      <td>Supporting Material</td>
      <td>{{ extracted_text['Supporting Material'] }}</td>
    </tr>
    <tr>
      <td>Key Vocabulary</td>
      <td>{{ extracted_text['Key Vocabulary'] }}</td>
    </tr>
    <tr>
      <td>Knowledge</td>
      <td>{{ extracted_text['Knowledge'] }}</td>
    </tr>
    <tr>
      <td>Skills</td>
      <td>{{ extracted_text['Skills'] }}</td>
    </tr>
<!--    <tr>-->
<!--      <td>Differentiation</td>-->
<!--      <td>{{ extracted_text['Differentiation'] }}</td>-->
<!--    </tr>-->
    <tr>
      <td>Learning experiences (How will they learn?)</td>
    </tr>
    <tr>
      <td>Prepare</td>
      <td>{{ extracted_text['Prepare'] }}</td>
    </tr>
    <tr>
      <td>Plan</td>
      <td>{{ extracted_text['Plan'] }}</td>
    </tr>
    <tr>
      <td>Investigate</td>
      <td>{{ extracted_text['Investigate'] }}</td>
    </tr>
    <tr>
      <td>Apply</td>
      <td>{{ extracted_text['Apply'] }}</td>
    </tr>
    <tr>
      <td>Connect</td>
      <td>{{ extracted_text['Connect'] }}</td>
    </tr>
    <tr>
      <td>Evaluate and Reflect</td>
      <td>{{ extracted_text['Evaluate and Reflect'] }}</td>
    </tr>
    <tr>
      <td>Educator Assessment</td>
      <td>{{ extracted_text['Educator Assessment'] }}</td>
    </tr>
    <tr>
      <td>Educator Reflection</td>
      <td>{{ extracted_text['Educator Reflection'] }}</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
